@import "../../styles/_colors.scss";

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 46px;
  background-color: #fff;
  border-radius: 9999px;
  padding: 0 20px;
  color: $dark-grey;
  font-size: 16px;
  font-weight: 400;

  .left-side {
    display: flex;
    width: calc(100% - 32px);
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    overflow: hidden;

    .todo-title {
      width: calc(100% - 46px);
    }
  }
}

.completed {
  text-decoration: line-through;
  color: #a9a9a9;
}
