.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 46px;
  background-color: #fff;
  border-radius: 9999px;
  padding: 0 20px;
}

.completed {
  text-decoration: line-through;
  color: #a9a9a9;
}
