@import "../../styles/_colors.scss";

.loader {
  height: 0;
  width: 0;
  padding: 8px;
  border: 6px solid #ebb9b8;
  border-right-color: $background-progress-bar;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
